<header class="header">
  <div class="header__images">
    <button
      class="button--icon"
      ng-click="$ctrl.openModalMenu()"
    >
      <img src="../../assets/img/hamburger.png" alt="Hamburguer menu">
    </button>
    <img src="../../assets/img/logo.svg" alt="Eduick">
  </div>
  <nav class="header__nav">
    <ul class="menu">
      <a href="#" class="menu__item">
        <li>How it Works</li>
      </a>
      <a href="#" class="menu__item">
        <li>About Us</li>
      </a>
    </ul>
    <button
      class="button"
      ng-click="$ctrl.openModalLogin()"
    >Get Started</button>
  </nav>
</header>