/* Header */

.header {
  display: flex;
  align-items: center;
  padding-top: 28px;
}

.header__images {
  display: flex;
  align-items: center;
  margin-right: 8rem;
}

.header__images button {
  display: none;
  margin-right: 20px;
}

.header__images img:first-child {
  height: 12px;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__nav button {
  z-index: 1;
}

.menu {
  display: flex;
  align-items: center;
  color: #fff;
}

.menu__item {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

.menu__item + .menu__item {
  margin-left: 4.7rem;
}

/* Mobile */

@media (max-width: 800px) {
  .header {
    padding-top: 24px;
  }

  .header__images {
    margin-right: 0;
  }

  .header__images button {
    display: block;
  }

  .header__images img:nth-child(2) {
    height: 18px
  }

  .header__nav {
    display: none;
  }
}